 @import "tailwindcss";

/*#degree-navs{
    width: 100%;
    display: flex;
    gap: 10px;
}

#degrees-card{
    flex: "1 1 250px";
    background-color: #C1E8FF;
    box-shadow: 0px 0px 20px  rgb(0, 0, 0) ;
    color: black;
    padding: 0px 30px;
    border-radius: 10px;
    width: 200px;
}

#weather-now {
    background-color: #C1E8FF;
    box-shadow: 0px 0px 20px  rgb(0, 0, 0) ;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    width: 200px;
    height: 150px;
}

#chart-card1{
    background-color: #C1E8FF;
    box-shadow: 0px 0px 20px  rgb(0, 0, 0) ;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    width: 300px;
    height: 250px;
}

#chart-card2{
    background-color: #C1E8FF;
    box-shadow: 0px 0px 20px  rgb(0, 0, 0) ;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    width: 400px;
    height: 250px;
}

#chart-card3{
    background-color: #C1E8FF;
    box-shadow: 0px 0px 20px  rgb(0, 0, 0) ;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    width: 200px;
    height: 250px;
}


#chart-container{
    display: flex;
    gap: 10px;
    flex-direction: row;
    background-color:"#3765a9ff";
    width: 1000px;
    margin-top: 20px;
} */