
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

body {
  background-image: url('/cloud bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



